// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@charset "utf-8";

$sol-is-auto: false;
$sol-is-dark: true;
@import "minima/skins/solarized";
